body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

a {
  color: #dbedf3;
  font-family: sans-serif;
  text-decoration: none;
}

a:hover {
  color: #da0463;
}

.w {
  background-image: url("img/crash.png");
}

.a {
  background-image: url("img/kick.png");
}

.s {
  background-image: url("img/snare.png");
}

.d {
  background-image: url("img/tom1.png");
}

.j {
  background-image: url("img/tom2.png");
}

.k {
  background-image: url("img/tom3.png");
}

.l {
  background-image: url("img/tom4.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
